Repository elastic/observability-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/obs-docs, @elastic/docs-engineering, @elastic/docs-freeze-team

Update monitor-hosts-with-otel.asciidoc (#4832)
  docs/en/observability/quickstarts/monitor-hosts-with-otel.asciidoc
Owners: @elastic/obs-docs

Update aggregation-options.asciidoc
  docs/en/observability/aggregation-options.asciidoc
Owners: @elastic/docs-freeze-team

Update README.md
  README.md
Owners: @elastic/obs-docs

Backport 8.18 because missing (#4831)
  docs/en/observability/apm/security/data-security/filtering.asciidoc
Owners: @elastic/obs-docs

Backport 8.18 because missing (#4831)
  docs/en/observability/apm/security/data-security/filtering.asciidoc
Owners: @elastic/obs-docs

Backport 8.18 because missing (#4831)
  docs/en/observability/apm/security/data-security/filtering.asciidoc
Owners: @elastic/obs-docs

Backport 8.18 because missing (#4831)
  docs/en/observability/apm/security/data-security/filtering.asciidoc
Owners: @elastic/obs-docs

Backport 8.18 because missing (#4831)
  docs/en/observability/apm/security/data-security/filtering.asciidoc
Owners: @elastic/obs-docs

Backport 8.18 because missing (#4831)
  docs/en/observability/apm/security/data-security/filtering.asciidoc
Owners: @elastic/obs-docs

Fix conflicts
  docs/en/observability/apm/apm-data-security.asciidoc
  docs/en/observability/apm/security/data-security/filtering.asciidoc
Owners: @elastic/obs-docs

Fix conflicts
  docs/en/observability/apm/apm-data-security.asciidoc
  docs/en/observability/apm/security/data-security/filtering.asciidoc
Owners: @elastic/obs-docs

Fix conflicts
  docs/en/observability/apm/apm-data-security.asciidoc
  docs/en/observability/apm/security/data-security/filtering.asciidoc
Owners: @elastic/obs-docs

Fix conflicts
  docs/en/observability/apm/apm-data-security.asciidoc
  docs/en/observability/apm/security/data-security/filtering.asciidoc
Owners: @elastic/obs-docs

Add known issue for APM Server version 8.6 and older with ES 8.15
  docs/en/observability/apm/known-issues.asciidoc
Owners: @elastic/obs-docs

Add known issue for APM Server version 8.6 and older with ES 8.15 (#4844)
  docs/en/observability/apm/known-issues.asciidoc
Owners: @elastic/obs-docs

Add known issue for APM Server version 8.6 and older with ES 8.15 (#4844)
  docs/en/observability/apm/known-issues.asciidoc
Owners: @elastic/obs-docs

Add known issue for APM Server version 8.6 and older with ES 8.15 (#4844)
  docs/en/observability/apm/known-issues.asciidoc
Owners: @elastic/obs-docs

Add known issue for APM Server version 8.6 and older with ES 8.15 (#4844)
  docs/en/observability/apm/known-issues.asciidoc
Owners: @elastic/obs-docs

updated
  docs/en/observability/grant-cases-access.asciidoc
Owners: @elastic/docs-freeze-team

updated (#4850)
  docs/en/observability/grant-cases-access.asciidoc
Owners: @elastic/docs-freeze-team

Manual backport of 4850 targeting 8.18
  docs/en/observability/grant-cases-access.asciidoc
Owners: @elastic/docs-freeze-team

Manual backport of 4850 targeting 8.18 (#4852)
  docs/en/observability/grant-cases-access.asciidoc
Owners: @elastic/docs-freeze-team

Update profiling-get-started.asciidoc
  docs/en/observability/profiling-get-started.asciidoc
Owners: @elastic/docs-freeze-team

Update profiling-get-started.asciidoc (#4853)
  docs/en/observability/profiling-get-started.asciidoc
Owners: @elastic/docs-freeze-team

add very rough draft
  docs/en/serverless/index.asciidoc
  docs/en/serverless/quickstarts/collect-data-with-native-otlp.asciidoc
  docs/en/serverless/quickstarts/native-otlp-tabs.asciidoc
Owners: @elastic/docs-freeze-team, @elastic/obs-docs

Add docs for monitoring TBS
  docs/en/observability/apm/configure/sampling.asciidoc
Owners: @elastic/obs-docs

Apply suggestions from code review
  docs/en/serverless/quickstarts/collect-data-with-native-otlp.asciidoc
Owners: @elastic/obs-docs

address feedback
  docs/en/serverless/images/hosts-ui-otlp.png
  docs/en/serverless/images/resource-attrs.png
  docs/en/serverless/quickstarts/collect-data-with-native-otlp.asciidoc
  docs/en/serverless/quickstarts/native-otlp-tabs.asciidoc
Owners: @elastic/obs-docs

fix bad link
  docs/en/serverless/quickstarts/collect-data-with-native-otlp.asciidoc
Owners: @elastic/obs-docs

Add docs for monitoring TBS (#4855)
  docs/en/observability/apm/configure/sampling.asciidoc
Owners: @elastic/obs-docs

Add docs for monitoring TBS (#4855)
  docs/en/observability/apm/configure/sampling.asciidoc
Owners: @elastic/obs-docs

Add docs for monitoring TBS (#4855)
  docs/en/observability/apm/configure/sampling.asciidoc
Owners: @elastic/obs-docs

Update .mergify.yml
  .mergify.yml
Owners: @elastic/obs-docs

mergify: support 8.18 backports (#4810)
  .mergify.yml
Owners: @elastic/obs-docs

Add docs for monitoring TBS (#4855)
  docs/en/observability/apm/configure/sampling.asciidoc
Owners: @elastic/obs-docs

more updates
  docs/en/serverless/index.asciidoc
  docs/en/serverless/otlp-visualize.asciidoc
  docs/en/serverless/quickstarts/collect-data-with-native-otlp.asciidoc
Owners: @elastic/docs-freeze-team, @elastic/obs-docs

Update general.asciidoc
  docs/en/observability/apm/configure/general.asciidoc
Owners: @elastic/obs-docs

Fix typos and improve clarity in APM docs
  docs/en/observability/apm/configure/general.asciidoc
Owners: @elastic/obs-docs

Fix grammar in APM configuration documentation
  docs/en/observability/apm/configure/general.asciidoc
Owners: @elastic/obs-docs

Add APM Server known issue for TBS
  docs/en/observability/apm/known-issues.asciidoc
Owners: @elastic/obs-docs

.github/CODEOWNERS:

# GitHub CODEOWNERS definition
# Last match takes precedence
# For more info, see https://help.github.com/articles/about-codeowners/

* @elastic/obs-docs
/.github/workflows/co-docs-builder.yml @elastic/docs-engineering
docs/en/*.asciidoc @elastic/docs-freeze-team
docs/en/observability/*.asciidoc @elastic/docs-freeze-team
docs/en/serverless/*.asciidoc @elastic/docs-freeze-team
