Repository elastic/observability-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/obs-docs, @elastic/docs-engineering, @elastic/docs-freeze-team

fix: Add changes for upload sourcemaps snippet
  docs/en/observability/apm/collect-application-data/agents/source-map-how-to.asciidoc
Owners: @elastic/obs-docs

fix: add encoding to upload sourcemaps snippet
  docs/en/observability/apm/collect-application-data/agents/source-map-how-to.asciidoc
Owners: @elastic/obs-docs

fix: Add changes for upload sourcemaps snippet (#4763)
  docs/en/observability/apm/collect-application-data/agents/source-map-how-to.asciidoc
Owners: @elastic/obs-docs

fix: Add changes for upload sourcemaps snippet (#4763)
  docs/en/observability/apm/collect-application-data/agents/source-map-how-to.asciidoc
Owners: @elastic/obs-docs

fix: Add changes for upload sourcemaps snippet (#4763)
  docs/en/observability/apm/collect-application-data/agents/source-map-how-to.asciidoc
Owners: @elastic/obs-docs

fix: Add changes for upload sourcemaps snippet (#4763)
  docs/en/observability/apm/collect-application-data/agents/source-map-how-to.asciidoc
Owners: @elastic/obs-docs

Create docs-freeze.yml
  .github/workflows/docs-freeze.yml
Owners: @elastic/obs-docs

test asciidoc change
  docs/en/observability/apm/act-on-data/alerts.asciidoc
Owners: @elastic/obs-docs

Update docs-freeze.yml
  .github/workflows/docs-freeze.yml
Owners: @elastic/obs-docs

Update apm-spaces.asciidoc
  docs/en/observability/apm/security/data-security/apm-spaces.asciidoc
Owners: @elastic/obs-docs

update pull request link
  docs/en/observability/apm/api/apm-server/api-jaeger.asciidoc
Owners: @elastic/obs-docs

minor lang correction
  docs/en/observability/apm/api/apm-server/api-jaeger.asciidoc
Owners: @elastic/obs-docs

Update apm-spaces.asciidoc (#4769)
  docs/en/observability/apm/security/data-security/apm-spaces.asciidoc
Owners: @elastic/obs-docs

add semantic field instructions
  docs/en/observability/observability-ai-assistant.asciidoc
Owners: @elastic/docs-freeze-team

add steps
  docs/en/observability/observability-ai-assistant.asciidoc
Owners: @elastic/docs-freeze-team

Add deprecation warning to Jaeger API docs (#4761)
  docs/en/observability/apm/api/apm-server/api-jaeger.asciidoc
Owners: @elastic/obs-docs

add known issues section to profiling docs
  docs/en/observability/index.asciidoc
  docs/en/observability/profiling-known-issues.asciidoc
Owners: @elastic/docs-freeze-team

Add deprecation warning to Jaeger API docs (#4761)
  docs/en/observability/apm/api/apm-server/api-jaeger.asciidoc
Owners: @elastic/obs-docs

Add deprecation warning to Jaeger API docs (#4761)
  docs/en/observability/apm/api/apm-server/api-jaeger.asciidoc
Owners: @elastic/obs-docs

Add deprecation warning to Jaeger API docs (#4761)
  docs/en/observability/apm/api/apm-server/api-jaeger.asciidoc
Owners: @elastic/obs-docs

update knwon issue for collector helm chart
  docs/en/observability/profiling-known-issues.asciidoc
Owners: @elastic/docs-freeze-team

SLOs troubleshoot added to serverless content (port #4486) (#4719)
  docs/en/serverless/index.asciidoc
  docs/en/serverless/slos/slo-troubleshoot.asciidoc
  docs/en/serverless/slos/slos.asciidoc
Owners: @elastic/docs-freeze-team, @elastic/obs-docs

improve readability
  docs/en/observability/profiling-known-issues.asciidoc
Owners: @elastic/docs-freeze-team

add known issues section to profiling docs (#4770)
  docs/en/observability/index.asciidoc
  docs/en/observability/profiling-known-issues.asciidoc
Owners: @elastic/docs-freeze-team

add known issues section to profiling docs (#4770)
  docs/en/observability/index.asciidoc
  docs/en/observability/profiling-known-issues.asciidoc
Owners: @elastic/docs-freeze-team

add known issues section to profiling docs (#4770)
  docs/en/observability/index.asciidoc
  docs/en/observability/profiling-known-issues.asciidoc
Owners: @elastic/docs-freeze-team

Add OTel quickstart to Get started page
  docs/en/observability/observability-get-started.asciidoc
  docs/en/serverless/observability-get-started.asciidoc
Owners: @elastic/docs-freeze-team

github-actions(pre-commit): detect merge conflicts and shebangs
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Owners: @elastic/obs-docs

remove code comments
  docs/en/observability/apm/troubleshooting/common-problems.asciidoc
Owners: @elastic/obs-docs

remove code comment
  docs/en/observability/apm/view-and-analyze/drill-down/infrastructure.asciidoc
Owners: @elastic/obs-docs

add notes
  docs/en/observability/apm/collect-application-data/agents/agent-configuration.asciidoc
  docs/en/observability/apm/data-model/transactions/sampling.asciidoc
  docs/en/observability/apm/security/elastic-stack/feature-roles.asciidoc
Owners: @elastic/obs-docs

Add OTel quickstart to Get started page (#4777)
  docs/en/observability/observability-get-started.asciidoc
  docs/en/serverless/observability-get-started.asciidoc
Owners: @elastic/docs-freeze-team

Add OTel quickstart to Get started page (#4777)
  docs/en/serverless/observability-get-started.asciidoc
Owners: @elastic/docs-freeze-team

Add OTel quickstart to Get started page (#4777)
  docs/en/serverless/observability-get-started.asciidoc
Owners: @elastic/docs-freeze-team

Add OTel quickstart to Get started page (#4777)
  docs/en/serverless/observability-get-started.asciidoc
Owners: @elastic/docs-freeze-team

simplify complex tables
  docs/en/observability/apm/act-on-data/alerts.asciidoc
  docs/en/observability/apm/agent-server-compatibility.asciidoc
  docs/en/observability/apm/collect-application-data/open-telemetry/otel-direct.asciidoc
  docs/en/observability/apm/configure/advanced-setup/command-reference.asciidoc
  docs/en/observability/apm/getting-started-apm/index.asciidoc
  docs/en/observability/apm/security/elastic-stack/feature-roles.asciidoc
  docs/en/observability/create-alerts.asciidoc
  docs/en/observability/grant-cases-access.asciidoc
  docs/en/observability/monitor-status-alert.asciidoc
  docs/en/observability/profiling-self-managed.asciidoc
  docs/en/observability/synthetics-create-test.asciidoc
  docs/en/observability/synthetics-migrate-integration.asciidoc
  docs/en/observability/synthetics-reference/lightweight-config/common.asciidoc
  docs/en/observability/synthetics-reference/lightweight-config/http.asciidoc
  docs/en/observability/synthetics-reference/lightweight-config/icmp.asciidoc
  docs/en/observability/synthetics-reference/lightweight-config/tcp.asciidoc
  docs/en/observability/synthetics-support-matrix.asciidoc
  docs/en/serverless/apm/act-on-data/alerts.asciidoc
  docs/en/serverless/apm/collect-application-data/open-telemetry/otel-direct.asciidoc
  docs/en/serverless/apm/getting-started-apm/index.asciidoc
  docs/en/serverless/logging/stream-log-files.asciidoc
  docs/en/serverless/synthetics/synthetics-create-test.asciidoc
  docs/en/serverless/synthetics/synthetics-feature-roles.asciidoc
  docs/en/serverless/transclusion/synthetics/configuration/monitor-config-options.asciidoc
  docs/en/serverless/transclusion/synthetics/reference/lightweight-config/common.asciidoc
  docs/en/serverless/transclusion/synthetics/reference/lightweight-config/http.asciidoc
  docs/en/serverless/transclusion/synthetics/reference/lightweight-config/icmp.asciidoc
  docs/en/serverless/transclusion/synthetics/reference/lightweight-config/tcp.asciidoc
Owners: @elastic/obs-docs, @elastic/docs-freeze-team

Clarify where to find ES endpoint
  docs/en/observability/cloud-monitoring/aws/monitor-aws-cloudtrail-firehose.asciidoc
Owners: @elastic/obs-docs

Minor edits
  docs/en/observability/cloud-monitoring/aws/monitor-aws-cloudtrail-firehose.asciidoc
Owners: @elastic/obs-docs

Edits
  docs/en/observability/cloud-monitoring/aws/monitor-aws-cloudtrail-firehose.asciidoc
Owners: @elastic/obs-docs

Edits
  docs/en/observability/cloud-monitoring/aws/monitor-aws-cloudtrail-firehose.asciidoc
Owners: @elastic/obs-docs

.github/CODEOWNERS:

# GitHub CODEOWNERS definition
# Last match takes precedence
# For more info, see https://help.github.com/articles/about-codeowners/

* @elastic/obs-docs
/.github/workflows/co-docs-builder.yml @elastic/docs-engineering
docs/en/*.asciidoc @elastic/docs-freeze-team
docs/en/observability/*.asciidoc @elastic/docs-freeze-team
docs/en/serverless/*.asciidoc @elastic/docs-freeze-team
