Repository elastic/observability-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/obs-docs, @elastic/docs-engineering, @elastic/docs-freeze-team

.github/CODEOWNERS:

# GitHub CODEOWNERS definition
# Last match takes precedence
# For more info, see https://help.github.com/articles/about-codeowners/

* @elastic/obs-docs
/.github/workflows/co-docs-builder.yml @elastic/docs-engineering
docs/en/*.asciidoc @elastic/docs-freeze-team
docs/en/observability/*.asciidoc @elastic/docs-freeze-team
docs/en/serverless/*.asciidoc @elastic/docs-freeze-team

Universal Profiling: Update image of flamegraph
  docs/en/observability/images/profiling-flamegraph-view.png
Owners: @elastic/obs-docs

review updates
  docs/en/observability/observability-ai-assistant.asciidoc
Owners: @elastic/docs-freeze-team

Simplify and clarify the IMPORTANT note
  docs/en/observability/cloud-monitoring/aws/monitor-aws-cloudtrail-firehose.asciidoc
Owners: @elastic/obs-docs

Update step 3
  docs/en/observability/cloud-monitoring/aws/monitor-aws-cloudtrail-firehose.asciidoc
Owners: @elastic/obs-docs

Make the set up delivery stream more explicit
  docs/en/observability/cloud-monitoring/aws/monitor-aws-cloudtrail-firehose.asciidoc
Owners: @elastic/obs-docs

Fix typo
  docs/en/observability/cloud-monitoring/aws/monitor-aws-cloudtrail-firehose.asciidoc
Owners: @elastic/obs-docs

Obs AI Assistant supports other models than ELSER when field type semantic_text is used (#4754)
  docs/en/observability/observability-ai-assistant.asciidoc
Owners: @elastic/docs-freeze-team

Obs AI Assistant supports other models than ELSER when field type semantic_text is used (#4754)
  docs/en/observability/observability-ai-assistant.asciidoc
Owners: @elastic/docs-freeze-team

Obs AI Assistant supports other models than ELSER when field type semantic_text is used (#4754)
  docs/en/observability/observability-ai-assistant.asciidoc
Owners: @elastic/docs-freeze-team

Update ES endpoint URL & API key setup
  docs/en/observability/cloud-monitoring/aws/monitor-aws-cloudwatch-firehose.asciidoc
  docs/en/observability/cloud-monitoring/aws/monitor-aws-firewall-firehose.asciidoc
  docs/en/observability/cloud-monitoring/aws/monitor-aws-waf-firehose.asciidoc
Owners: @elastic/obs-docs

Update observability-ai-assistant.asciidoc
  docs/en/observability/observability-ai-assistant.asciidoc
Owners: @elastic/docs-freeze-team

Update observability-ai-assistant.asciidoc
  docs/en/observability/observability-ai-assistant.asciidoc
Owners: @elastic/docs-freeze-team

Universal Profiling: Update image of flamegraph (#4785)
  docs/en/observability/images/profiling-flamegraph-view.png
Owners: @elastic/obs-docs

github-actions(pre-commit): detect merge conflicts and shebangs (#4778)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Owners: @elastic/obs-docs

github-actions(pre-commit): detect merge conflicts and shebangs (#4778)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Owners: @elastic/obs-docs

github-actions(pre-commit): detect merge conflicts and shebangs (#4778)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Owners: @elastic/obs-docs

github-actions(pre-commit): detect merge conflicts and shebangs (#4778)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Owners: @elastic/obs-docs

github-actions(pre-commit): detect merge conflicts and shebangs (#4778)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Owners: @elastic/obs-docs

github-action: Add AsciiDoc freeze warning
  .github/workflows/comment-on-asciidoc-changes.yml
Owners: @elastic/obs-docs

[AWS Firehose] Clarify where to find ES endpoint (#4784)
  docs/en/observability/cloud-monitoring/aws/monitor-aws-cloudtrail-firehose.asciidoc
  docs/en/observability/cloud-monitoring/aws/monitor-aws-cloudwatch-firehose.asciidoc
  docs/en/observability/cloud-monitoring/aws/monitor-aws-firewall-firehose.asciidoc
  docs/en/observability/cloud-monitoring/aws/monitor-aws-waf-firehose.asciidoc
Owners: @elastic/obs-docs

[AWS Firehose] Clarify where to find ES endpoint (#4784)
  docs/en/observability/cloud-monitoring/aws/monitor-aws-cloudtrail-firehose.asciidoc
  docs/en/observability/cloud-monitoring/aws/monitor-aws-cloudwatch-firehose.asciidoc
  docs/en/observability/cloud-monitoring/aws/monitor-aws-firewall-firehose.asciidoc
  docs/en/observability/cloud-monitoring/aws/monitor-aws-waf-firehose.asciidoc
Owners: @elastic/obs-docs

[AWS Firehose] Clarify where to find ES endpoint (#4784)
  docs/en/observability/cloud-monitoring/aws/monitor-aws-cloudtrail-firehose.asciidoc
  docs/en/observability/cloud-monitoring/aws/monitor-aws-cloudwatch-firehose.asciidoc
  docs/en/observability/cloud-monitoring/aws/monitor-aws-firewall-firehose.asciidoc
  docs/en/observability/cloud-monitoring/aws/monitor-aws-waf-firehose.asciidoc
Owners: @elastic/obs-docs

review updates
  docs/en/observability/logs-troubleshooting.asciidoc
Owners: @elastic/docs-freeze-team

add serverless
  docs/en/serverless/logging/troubleshoot-logs.asciidoc
Owners: @elastic/obs-docs

fix headings
  docs/en/serverless/logging/troubleshoot-logs.asciidoc
Owners: @elastic/obs-docs

fix headings
  docs/en/observability/logs-troubleshooting.asciidoc
  docs/en/serverless/logging/troubleshoot-logs.asciidoc
Owners: @elastic/docs-freeze-team, @elastic/obs-docs

fix heading
  docs/en/observability/logs-troubleshooting.asciidoc
Owners: @elastic/docs-freeze-team

Update docs/en/observability/logs-troubleshooting.asciidoc
  docs/en/observability/logs-troubleshooting.asciidoc
Owners: @elastic/docs-freeze-team

github-action: Add AsciiDoc freeze warning
  .github/workflows/comment-on-asciidoc-changes.yml
Owners: @elastic/obs-docs

Add common pipeline and mapping issues and mitigations (#4693)
  docs/en/observability/logs-troubleshooting.asciidoc
  docs/en/serverless/logging/troubleshoot-logs.asciidoc
Owners: @elastic/docs-freeze-team, @elastic/obs-docs

Add common pipeline and mapping issues and mitigations (#4693)
  docs/en/serverless/logging/troubleshoot-logs.asciidoc
Owners: @elastic/obs-docs

Add common pipeline and mapping issues and mitigations (#4693)
  docs/en/serverless/logging/troubleshoot-logs.asciidoc
Owners: @elastic/obs-docs

Add common pipeline and mapping issues and mitigations (#4693)
  docs/en/serverless/logging/troubleshoot-logs.asciidoc
Owners: @elastic/obs-docs

simplify complex tables (#4783)
  docs/en/observability/apm/act-on-data/alerts.asciidoc
  docs/en/observability/apm/agent-server-compatibility.asciidoc
  docs/en/observability/apm/collect-application-data/open-telemetry/otel-direct.asciidoc
  docs/en/observability/apm/configure/advanced-setup/command-reference.asciidoc
  docs/en/observability/apm/getting-started-apm/index.asciidoc
  docs/en/observability/apm/security/elastic-stack/feature-roles.asciidoc
  docs/en/observability/create-alerts.asciidoc
  docs/en/observability/grant-cases-access.asciidoc
  docs/en/observability/monitor-status-alert.asciidoc
  docs/en/observability/profiling-self-managed.asciidoc
  docs/en/observability/synthetics-create-test.asciidoc
  docs/en/observability/synthetics-migrate-integration.asciidoc
  docs/en/observability/synthetics-reference/lightweight-config/common.asciidoc
  docs/en/observability/synthetics-reference/lightweight-config/http.asciidoc
  docs/en/observability/synthetics-reference/lightweight-config/icmp.asciidoc
  docs/en/observability/synthetics-reference/lightweight-config/tcp.asciidoc
  docs/en/observability/synthetics-support-matrix.asciidoc
  docs/en/serverless/apm/act-on-data/alerts.asciidoc
  docs/en/serverless/apm/collect-application-data/open-telemetry/otel-direct.asciidoc
  docs/en/serverless/apm/getting-started-apm/index.asciidoc
  docs/en/serverless/logging/stream-log-files.asciidoc
  docs/en/serverless/synthetics/synthetics-create-test.asciidoc
  docs/en/serverless/synthetics/synthetics-feature-roles.asciidoc
  docs/en/serverless/transclusion/synthetics/configuration/monitor-config-options.asciidoc
  docs/en/serverless/transclusion/synthetics/reference/lightweight-config/common.asciidoc
  docs/en/serverless/transclusion/synthetics/reference/lightweight-config/http.asciidoc
  docs/en/serverless/transclusion/synthetics/reference/lightweight-config/icmp.asciidoc
  docs/en/serverless/transclusion/synthetics/reference/lightweight-config/tcp.asciidoc
Owners: @elastic/obs-docs, @elastic/docs-freeze-team

add notes (#4779)
  docs/en/observability/apm/collect-application-data/agents/agent-configuration.asciidoc
  docs/en/observability/apm/data-model/transactions/sampling.asciidoc
  docs/en/observability/apm/security/elastic-stack/feature-roles.asciidoc
Owners: @elastic/obs-docs

[apm] Clarify how data is populated in the APM Infrastructure tab (#4692)
  docs/en/observability/apm/troubleshooting/common-problems.asciidoc
  docs/en/observability/apm/view-and-analyze/drill-down/infrastructure.asciidoc
Owners: @elastic/obs-docs

add notes (#4779)
  docs/en/observability/apm/collect-application-data/agents/agent-configuration.asciidoc
  docs/en/observability/apm/data-model/transactions/sampling.asciidoc
  docs/en/observability/apm/security/elastic-stack/feature-roles.asciidoc
Owners: @elastic/obs-docs

add notes (#4779)
  docs/en/observability/apm/collect-application-data/agents/agent-configuration.asciidoc
  docs/en/observability/apm/data-model/transactions/sampling.asciidoc
  docs/en/observability/apm/security/elastic-stack/feature-roles.asciidoc
Owners: @elastic/obs-docs

add notes (#4779)
  docs/en/observability/apm/collect-application-data/agents/agent-configuration.asciidoc
  docs/en/observability/apm/data-model/transactions/sampling.asciidoc
  docs/en/observability/apm/security/elastic-stack/feature-roles.asciidoc
Owners: @elastic/obs-docs

[apm] Clarify how data is populated in the APM Infrastructure tab (#4692)
  docs/en/observability/apm-ui/infrastructure.asciidoc
  docs/en/observability/apm-ui/troubleshooting.asciidoc
Owners: @elastic/obs-docs
