Repository elastic/observability-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/obs-docs, @elastic/docs-engineering, @elastic/docs-freeze-team

[apm] Clarify how data is populated in the APM Infrastructure tab (#4692)
  docs/en/observability/apm/troubleshooting/common-problems.asciidoc
  docs/en/observability/apm/view-and-analyze/drill-down/infrastructure.asciidoc
Owners: @elastic/obs-docs

[apm] Clarify how data is populated in the APM Infrastructure tab (#4692)
  docs/en/observability/apm/troubleshooting/common-problems.asciidoc
  docs/en/observability/apm/view-and-analyze/drill-down/infrastructure.asciidoc
Owners: @elastic/obs-docs

[apm] Clarify how data is populated in the APM Infrastructure tab (#4692)
  docs/en/observability/apm/troubleshooting/common-problems.asciidoc
  docs/en/observability/apm/view-and-analyze/drill-down/infrastructure.asciidoc
Owners: @elastic/obs-docs

github-action: Add AsciiDoc freeze warning (#4795)
  .github/workflows/comment-on-asciidoc-changes.yml
Owners: @elastic/obs-docs

[DOCS] Remove links to master
  docs/en/serverless/cases/manage-cases-settings.asciidoc
Owners: @elastic/obs-docs

mergify: support 8.18 backports
  .mergify.yml
Owners: @elastic/obs-docs

Update .mergify.yml
  .mergify.yml
Owners: @elastic/obs-docs

[DOCS] Remove links to master (#4808)
  docs/en/serverless/cases/manage-cases-settings.asciidoc
Owners: @elastic/obs-docs

[DOCS] Fix hard-coded links to master
  docs/en/ingest-management/elastic-agent/run-container-common/kibana-fleet-data.asciidoc
  docs/en/ingest-management/elastic-agent/running-on-kubernetes-standalone.asciidoc
  docs/en/observability/whats-new.asciidoc
Owners: @elastic/obs-docs, @elastic/docs-freeze-team

apm: change default sampling.tail.storage_limit
  docs/en/observability/apm/configure/sampling.asciidoc
Owners: @elastic/obs-docs

[DOCS] Fix hard-coded links to master (#4813)
  docs/en/ingest-management/elastic-agent/run-container-common/kibana-fleet-data.asciidoc
  docs/en/ingest-management/elastic-agent/running-on-kubernetes-standalone.asciidoc
  docs/en/observability/whats-new.asciidoc
Owners: @elastic/obs-docs, @elastic/docs-freeze-team

mergify: support backport-active-8, backport-active-9, backport-active-all
  .mergify.yml
Owners: @elastic/obs-docs

add policies
  .mergify.yml
Owners: @elastic/obs-docs

Update description
  docs/en/observability/apm/configure/sampling.asciidoc
Owners: @elastic/obs-docs

typo: samling->sampling
  docs/en/apm-server/redirects.asciidoc
  docs/en/observability/apm/configure/index.asciidoc
  docs/en/observability/apm/configure/sampling.asciidoc
  docs/en/observability/redirects.asciidoc
Owners: @elastic/obs-docs, @elastic/docs-freeze-team

Consistency
  docs/en/observability/apm/configure/sampling.asciidoc
Owners: @elastic/obs-docs

Update kafka.asciidoc
  docs/en/observability/apm/configure/outputs/kafka.asciidoc
Owners: @elastic/obs-docs

remove limitations
  docs/en/serverless/index.asciidoc
  docs/en/serverless/limitations.asciidoc
Owners: @elastic/docs-freeze-team

add catch
  docs/en/apm-server/redirects.asciidoc
Owners: @elastic/obs-docs

remove link
  docs/en/serverless/redirects.asciidoc
Owners: @elastic/docs-freeze-team

remove limitations (#4822)
  docs/en/apm-server/redirects.asciidoc
  docs/en/serverless/index.asciidoc
  docs/en/serverless/limitations.asciidoc
  docs/en/serverless/redirects.asciidoc
Owners: @elastic/obs-docs, @elastic/docs-freeze-team

improve api key and retry duration section
  docs/en/observability/cloud-monitoring/aws/ingest-aws-firehose.asciidoc
Owners: @elastic/obs-docs

improve further by modifying all related documents
  docs/en/observability/cloud-monitoring/aws/ingest-aws-firehose.asciidoc
  docs/en/observability/cloud-monitoring/aws/monitor-aws-cloudtrail-firehose.asciidoc
  docs/en/observability/cloud-monitoring/aws/monitor-aws-cloudwatch-firehose.asciidoc
  docs/en/observability/cloud-monitoring/aws/monitor-aws-firewall-firehose.asciidoc
  docs/en/observability/cloud-monitoring/aws/monitor-aws-waf-firehose.asciidoc
Owners: @elastic/obs-docs

fix wording of storage location
  docs/en/observability/cloud-monitoring/aws/ingest-aws-firehose.asciidoc
Owners: @elastic/obs-docs

update firehose endpoint and data stream details
  docs/en/observability/cloud-monitoring/aws/ingest-aws-firehose.asciidoc
Owners: @elastic/obs-docs

Add note on APM Server Personal Data
  docs/en/observability/apm/security/data-security/filtering.asciidoc
Owners: @elastic/obs-docs

Add note on APM Server Personal Data
  docs/en/observability/apm/security/data-security/filtering.asciidoc
Owners: @elastic/obs-docs

explain issue related to L7 load balancers with apm-server
  docs/en/observability/apm/collect-application-data/open-telemetry/otel-direct.asciidoc
Owners: @elastic/obs-docs

Add note on APM Server Personal Data (#4825)
  docs/en/observability/apm/security/data-security/filtering.asciidoc
Owners: @elastic/obs-docs

Add note on APM Server Personal Data (#4825)
  docs/en/observability/apm/security/data-security/filtering.asciidoc
Owners: @elastic/obs-docs

Update docs/en/observability/cloud-monitoring/aws/ingest-aws-firehose.asciidoc
  docs/en/observability/cloud-monitoring/aws/ingest-aws-firehose.asciidoc
Owners: @elastic/obs-docs

[AWS Firehose] Improve Firehose documentation (#4818)
  docs/en/observability/cloud-monitoring/aws/ingest-aws-firehose.asciidoc
  docs/en/observability/cloud-monitoring/aws/monitor-aws-cloudtrail-firehose.asciidoc
  docs/en/observability/cloud-monitoring/aws/monitor-aws-cloudwatch-firehose.asciidoc
  docs/en/observability/cloud-monitoring/aws/monitor-aws-firewall-firehose.asciidoc
  docs/en/observability/cloud-monitoring/aws/monitor-aws-waf-firehose.asciidoc
Owners: @elastic/obs-docs

[AWS Firehose] Improve Firehose documentation (#4818)
  docs/en/observability/cloud-monitoring/aws/ingest-aws-firehose.asciidoc
  docs/en/observability/cloud-monitoring/aws/monitor-aws-cloudtrail-firehose.asciidoc
  docs/en/observability/cloud-monitoring/aws/monitor-aws-cloudwatch-firehose.asciidoc
  docs/en/observability/cloud-monitoring/aws/monitor-aws-firewall-firehose.asciidoc
  docs/en/observability/cloud-monitoring/aws/monitor-aws-waf-firehose.asciidoc
Owners: @elastic/obs-docs

Backport 8.18 because missing
  docs/en/observability/apm/security/data-security/filtering.asciidoc
Owners: @elastic/obs-docs

Update monitor-hosts-with-otel.asciidoc
  docs/en/observability/quickstarts/monitor-hosts-with-otel.asciidoc
Owners: @elastic/obs-docs

[AWS Firehose] Improve Firehose documentation (#4818)
  docs/en/observability/cloud-monitoring/aws/ingest-aws-firehose.asciidoc
  docs/en/observability/cloud-monitoring/aws/monitor-aws-cloudtrail-firehose.asciidoc
  docs/en/observability/cloud-monitoring/aws/monitor-aws-cloudwatch-firehose.asciidoc
  docs/en/observability/cloud-monitoring/aws/monitor-aws-firewall-firehose.asciidoc
  docs/en/observability/cloud-monitoring/aws/monitor-aws-waf-firehose.asciidoc
Owners: @elastic/obs-docs

Document OpenTelemetry attribute mapping and translation in Elastic APM
  docs/en/serverless/apm/collect-application-data/open-telemetry/otel-attrs.asciidoc
Owners: @elastic/obs-docs

Improve OpenTelemetry attributes documentation structure and readability
  docs/en/serverless/apm/collect-application-data/open-telemetry/otel-attrs.asciidoc
Owners: @elastic/obs-docs

update README
  README.md
Owners: @elastic/obs-docs

remove unnecessary gh workflows
  .github/workflows/co-docs-builder.yml
  .github/workflows/comment-on-asciidoc-changes.yml
  .github/workflows/delete-serverless-dir-on-backports.yml
  .github/workflows/docs-preview.yml
Owners: @elastic/docs-engineering, @elastic/obs-docs

.github/CODEOWNERS:

# GitHub CODEOWNERS definition
# Last match takes precedence
# For more info, see https://help.github.com/articles/about-codeowners/

* @elastic/obs-docs
/.github/workflows/co-docs-builder.yml @elastic/docs-engineering
docs/en/*.asciidoc @elastic/docs-freeze-team
docs/en/observability/*.asciidoc @elastic/docs-freeze-team
docs/en/serverless/*.asciidoc @elastic/docs-freeze-team
