Repository elastic/observability-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/obs-docs, @elastic/docs-engineering, @elastic/docs-freeze-team

clean up
  docs/en/serverless/otlp-visualize.asciidoc
  docs/en/serverless/quickstarts/collect-data-with-native-otlp.asciidoc
Owners: @elastic/docs-freeze-team, @elastic/obs-docs

Collect data with Elastic Cloud Native OpenTelemetry Endpoint (#4854)
  docs/en/serverless/images/hosts-ui-otlp.png
  docs/en/serverless/images/resource-attrs.png
  docs/en/serverless/index.asciidoc
  docs/en/serverless/otlp-visualize.asciidoc
  docs/en/serverless/quickstarts/collect-data-with-native-otlp.asciidoc
Owners: @elastic/obs-docs, @elastic/docs-freeze-team

Collect data with Elastic Cloud Native OpenTelemetry Endpoint (#4854)
  docs/en/serverless/images/hosts-ui-otlp.png
  docs/en/serverless/images/resource-attrs.png
  docs/en/serverless/index.asciidoc
  docs/en/serverless/otlp-visualize.asciidoc
  docs/en/serverless/quickstarts/collect-data-with-native-otlp.asciidoc
Owners: @elastic/obs-docs, @elastic/docs-freeze-team

Collect data with Elastic Cloud Native OpenTelemetry Endpoint (#4854)
  docs/en/serverless/images/hosts-ui-otlp.png
  docs/en/serverless/images/resource-attrs.png
  docs/en/serverless/index.asciidoc
  docs/en/serverless/otlp-visualize.asciidoc
  docs/en/serverless/quickstarts/collect-data-with-native-otlp.asciidoc
Owners: @elastic/obs-docs, @elastic/docs-freeze-team

Collect data with Elastic Cloud Native OpenTelemetry Endpoint (#4854)
  docs/en/serverless/images/hosts-ui-otlp.png
  docs/en/serverless/images/resource-attrs.png
  docs/en/serverless/index.asciidoc
  docs/en/serverless/otlp-visualize.asciidoc
  docs/en/serverless/quickstarts/collect-data-with-native-otlp.asciidoc
Owners: @elastic/obs-docs, @elastic/docs-freeze-team

first attempt
  docs/en/observability/apm/monitor-apm-server/monitor.asciidoc
Owners: @elastic/obs-docs

update fleet guide link to current
  docs/en/observability/apm/monitor-apm-server/monitor.asciidoc
Owners: @elastic/obs-docs

use github pages links
  docs/en/observability/apm/collect-application-data/open-telemetry/index.asciidoc
  docs/en/observability/quickstarts/monitor-hosts-with-otel.asciidoc
  docs/en/observability/quickstarts/monitor-k8s-otel.asciidoc
Owners: @elastic/obs-docs

Fix async step callback
  docs/en/observability/synthetics-create-test.asciidoc
Owners: @elastic/docs-freeze-team

Fix async step callback (#4869)
  docs/en/observability/synthetics-create-test.asciidoc
Owners: @elastic/docs-freeze-team

Fix async step callback (#4869)
  docs/en/observability/synthetics-create-test.asciidoc
Owners: @elastic/docs-freeze-team

Fix async step callback (#4869)
  docs/en/observability/synthetics-create-test.asciidoc
Owners: @elastic/docs-freeze-team

Update docs/en/observability/quickstarts/monitor-hosts-with-otel.asciidoc
  docs/en/observability/quickstarts/monitor-hosts-with-otel.asciidoc
Owners: @elastic/obs-docs

hide eem and inventory pages
  docs/en/observability/apm/view-and-analyze/inventory.asciidoc
  docs/en/observability/elastic-entity-model.asciidoc
Owners: @elastic/obs-docs, @elastic/docs-freeze-team

document private locations space awareness
  docs/en/observability/synthetics-private-location.asciidoc
Owners: @elastic/docs-freeze-team

read @mdbirnstiehl's mind before he even reviews
  docs/en/observability/synthetics-private-location.asciidoc
Owners: @elastic/docs-freeze-team

hide eem and inventory pages (#4872)
  docs/en/observability/apm/view-and-analyze/inventory.asciidoc
  docs/en/observability/elastic-entity-model.asciidoc
Owners: @elastic/obs-docs, @elastic/docs-freeze-team

hide eem and inventory pages (#4872)
  docs/en/observability/apm/view-and-analyze/inventory.asciidoc
  docs/en/observability/elastic-entity-model.asciidoc
Owners: @elastic/obs-docs, @elastic/docs-freeze-team

[otel] Use GitHub pages links (#4868)
  docs/en/observability/apm/collect-application-data/open-telemetry/index.asciidoc
  docs/en/observability/quickstarts/monitor-hosts-with-otel.asciidoc
  docs/en/observability/quickstarts/monitor-k8s-otel.asciidoc
Owners: @elastic/obs-docs

[otel] Use GitHub pages links (#4868)
  docs/en/observability/apm/collect-application-data/open-telemetry/index.asciidoc
  docs/en/observability/quickstarts/monitor-hosts-with-otel.asciidoc
  docs/en/observability/quickstarts/monitor-k8s-otel.asciidoc
Owners: @elastic/obs-docs

[otel] Use GitHub pages links (#4868)
  docs/en/observability/apm/collect-application-data/open-telemetry/index.asciidoc
  docs/en/observability/quickstarts/monitor-hosts-with-otel.asciidoc
  docs/en/observability/quickstarts/monitor-k8s-otel.asciidoc
Owners: @elastic/obs-docs

fix conflict
  docs/en/observability/quickstarts/monitor-hosts-with-otel.asciidoc
Owners: @elastic/obs-docs

fix spacing
  docs/en/observability/quickstarts/monitor-hosts-with-otel.asciidoc
Owners: @elastic/obs-docs

New way of backporting to active branches using new github action
  .github/workflows/backport-active.yml
  .mergify.yml
Owners: @elastic/obs-docs

remove otel content
  docs/en/apm-server/redirects.asciidoc
  docs/en/observability/apm/api/apm-server/api-otlp.asciidoc
  docs/en/observability/apm/collect-application-data/index.asciidoc
  docs/en/observability/apm/collect-application-data/open-telemetry/index.asciidoc
  docs/en/observability/apm/collect-application-data/open-telemetry/otel-attrs.asciidoc
  docs/en/observability/apm/collect-application-data/open-telemetry/otel-direct.asciidoc
  docs/en/observability/apm/collect-application-data/open-telemetry/otel-limitations.asciidoc
  docs/en/observability/apm/collect-application-data/open-telemetry/otel-metrics.asciidoc
  docs/en/observability/apm/data-model/distributed-tracing.asciidoc
  docs/en/observability/apm/data-model/transactions/sampling.asciidoc
  docs/en/observability/apm/shared/otel.asciidoc
  docs/en/observability/apm/tab-widgets/install-agents-widget.asciidoc
  docs/en/observability/handle-no-results-found-message.asciidoc
  docs/en/observability/index.asciidoc
  docs/en/observability/observability-get-started.asciidoc
  docs/en/observability/quickstarts/monitor-hosts-with-otel.asciidoc
  docs/en/observability/quickstarts/monitor-k8s-otel.asciidoc
  docs/en/observability/redirects.asciidoc
Owners: @elastic/obs-docs, @elastic/docs-freeze-team

Remove part for backport active as it will be done with new gh action
  .mergify.yml
Owners: @elastic/obs-docs

mergify: support backport label for 9.0 branch (#4816)
  .mergify.yml
Owners: @elastic/obs-docs

New way of backporting to active branches using new github action (#4887)
  .github/workflows/backport-active.yml
  .mergify.yml
Owners: @elastic/obs-docs

[synthetics] Document private locations space awareness (#4873)
  docs/en/observability/synthetics-private-location.asciidoc
Owners: @elastic/docs-freeze-team

[synthetics] Document private locations space awareness (#4873)
  docs/en/observability/synthetics-private-location.asciidoc
Owners: @elastic/docs-freeze-team

github-action: add supported GitHub commands
  .github/workflows/github-commands-comment.yml
Owners: @elastic/obs-docs

github-action: add supported GitHub commands (#4894)
  .github/workflows/github-commands-comment.yml
Owners: @elastic/obs-docs

[Obs AI Assistant]
  docs/en/observability/observability-ai-assistant.asciidoc
Owners: @elastic/docs-freeze-team

[Obs AI Assistant] (#4903)
  docs/en/observability/observability-ai-assistant.asciidoc
Owners: @elastic/docs-freeze-team

[Observability AI Assistant] Update reindex note
  docs/en/observability/observability-ai-assistant.asciidoc
Owners: @elastic/docs-freeze-team

[Observability AI Assistant] Update reindex note (#4904)
  docs/en/observability/observability-ai-assistant.asciidoc
Owners: @elastic/docs-freeze-team

Update README.md
  README.md
Owners: @elastic/obs-docs

Update README.md
  README.md
Owners: @elastic/obs-docs

Update README.md
  README.md
Owners: @elastic/obs-docs

[apm]: Document sampling.tail.discard_on_write_failure config
  docs/en/observability/apm/configure/sampling.asciidoc
Owners: @elastic/obs-docs

.github/CODEOWNERS:

# GitHub CODEOWNERS definition
# Last match takes precedence
# For more info, see https://help.github.com/articles/about-codeowners/

* @elastic/obs-docs
/.github/workflows/co-docs-builder.yml @elastic/docs-engineering
docs/en/*.asciidoc @elastic/docs-freeze-team
docs/en/observability/*.asciidoc @elastic/docs-freeze-team
docs/en/serverless/*.asciidoc @elastic/docs-freeze-team
