Repository elastic/observability-docs, pull requests merged in 2020-08, with the labels that each got.

#79 Override banner until docs are ready
  docs/en/observability/page_header.html
Labels: 7.10.0, 7.9.0, docs

#82 [7.9] Override banner until docs are ready (#79)
  docs/en/observability/page_header.html
Labels: 7.9.0, backport, docs

#81 [7.x] Override banner until docs are ready (#79)
  docs/en/observability/page_header.html
Labels: 7.10.0, backport, docs

#16 [WIP] Add content to the Observability Guide
  docs/en/observability/add-observability-data.asciidoc
  docs/en/observability/images/alerts-activity.png
  docs/en/observability/images/apm.png
  docs/en/observability/images/log-rate.png
  docs/en/observability/images/metrics-summary.png
  docs/en/observability/images/observability.png
  docs/en/observability/images/uptime-summary.png
  docs/en/observability/index.asciidoc
  docs/en/observability/ingest-logs.asciidoc
  docs/en/observability/ingest-metrics.asciidoc
  docs/en/observability/ingest-uptime.asciidoc
  docs/en/observability/install-observability.asciidoc
  docs/en/observability/instrument-apps.asciidoc
  docs/en/observability/observability-introduction.asciidoc
  docs/en/observability/observability-ui.asciidoc
Labels: 7.9.0, docs

#84 [7.x] [WIP] Add content to the Observability Guide (#16)
  docs/en/observability/add-observability-data.asciidoc
  docs/en/observability/images/alerts-activity.png
  docs/en/observability/images/apm.png
  docs/en/observability/images/log-rate.png
  docs/en/observability/images/metrics-summary.png
  docs/en/observability/images/observability.png
  docs/en/observability/images/uptime-summary.png
  docs/en/observability/index.asciidoc
  docs/en/observability/ingest-logs.asciidoc
  docs/en/observability/ingest-metrics.asciidoc
  docs/en/observability/ingest-uptime.asciidoc
  docs/en/observability/install-observability.asciidoc
  docs/en/observability/instrument-apps.asciidoc
  docs/en/observability/observability-introduction.asciidoc
  docs/en/observability/observability-ui.asciidoc
Labels: backport

#85 [7.9] [WIP] Add content to the Observability Guide (#16)
  docs/en/observability/add-observability-data.asciidoc
  docs/en/observability/images/alerts-activity.png
  docs/en/observability/images/apm.png
  docs/en/observability/images/log-rate.png
  docs/en/observability/images/metrics-summary.png
  docs/en/observability/images/observability.png
  docs/en/observability/images/uptime-summary.png
  docs/en/observability/index.asciidoc
  docs/en/observability/ingest-logs.asciidoc
  docs/en/observability/ingest-metrics.asciidoc
  docs/en/observability/ingest-uptime.asciidoc
  docs/en/observability/install-observability.asciidoc
  docs/en/observability/instrument-apps.asciidoc
  docs/en/observability/observability-introduction.asciidoc
  docs/en/observability/observability-ui.asciidoc
Labels: backport

#70 [docs] Promote ingest management to beta
  docs/en/ingest-management/getting-started.asciidoc
  docs/en/ingest-management/ingest-management-limitations.asciidoc
  docs/en/ingest-management/ingest-management-overview.asciidoc
  docs/en/ingest-management/troubleshooting.asciidoc
Labels: 7.10.0, 7.9.0, docs, needs_backport

#86 [7.x] [docs] Promote ingest management to beta (#70)
  docs/en/ingest-management/getting-started.asciidoc
  docs/en/ingest-management/ingest-management-limitations.asciidoc
  docs/en/ingest-management/ingest-management-overview.asciidoc
  docs/en/ingest-management/troubleshooting.asciidoc
Labels: 7.10.0, backport

#87 [7.9] [docs] Promote ingest management to beta (#70)
  docs/en/ingest-management/getting-started.asciidoc
  docs/en/ingest-management/ingest-management-limitations.asciidoc
  docs/en/ingest-management/ingest-management-overview.asciidoc
  docs/en/ingest-management/troubleshooting.asciidoc
Labels: 7.9.0, backport

#80 [docs] Update ingest management docs with 7.9 UI changes
  docs/en/ingest-management/getting-started.asciidoc
  docs/en/ingest-management/images/add-integration.png
  docs/en/ingest-management/images/data-source.png
  docs/en/ingest-management/images/data-streams.png
  docs/en/ingest-management/images/datasets.png
  docs/en/ingest-management/images/integrations.png
  docs/en/ingest-management/images/kibana-ingest-manager-configurations-default-with-nginx.png
  docs/en/ingest-management/images/kibana-ingest-manager-configurations-default-yaml.png
  docs/en/ingest-management/images/kibana-ingest-manager-datastreams.png
  docs/en/ingest-management/images/kibana-ingest-manager-fleet-agents.png
  docs/en/ingest-management/images/kibana-ingest-manager-fleet-enable.png
  docs/en/ingest-management/images/kibana-ingest-manager-fleet-enrol.png
  docs/en/ingest-management/images/kibana-ingest-manager-integrations-list-installed.png
  docs/en/ingest-management/images/kibana-ingest-manager-integrations-nginx-add-datasource.png
  docs/en/ingest-management/images/kibana-ingest-manager-integrations-nginx-overview.png
  docs/en/ingest-management/images/kibana-ingest-manager-integrations-nginx.png
  docs/en/ingest-management/images/kibana-ingest-manager-start.png
  docs/en/ingest-management/index.asciidoc
  docs/en/ingest-management/ingest-management-limitations.asciidoc
  docs/en/ingest-management/ingest-management-overview.asciidoc
  docs/en/ingest-management/tab-widgets/code.asciidoc
  docs/en/ingest-management/tab-widgets/enroll-widget.asciidoc
  docs/en/ingest-management/tab-widgets/prereq-widget.asciidoc
  docs/en/ingest-management/tab-widgets/prereq.asciidoc
  docs/en/ingest-management/troubleshooting.asciidoc
Labels: 7.10.0, 7.9.0, docs

#91 [7.x] [docs] Update ingest management docs with 7.9 UI changes (#80)
  docs/en/ingest-management/getting-started.asciidoc
  docs/en/ingest-management/images/add-integration.png
  docs/en/ingest-management/images/data-source.png
  docs/en/ingest-management/images/data-streams.png
  docs/en/ingest-management/images/datasets.png
  docs/en/ingest-management/images/integrations.png
  docs/en/ingest-management/images/kibana-ingest-manager-configurations-default-with-nginx.png
  docs/en/ingest-management/images/kibana-ingest-manager-configurations-default-yaml.png
  docs/en/ingest-management/images/kibana-ingest-manager-datastreams.png
  docs/en/ingest-management/images/kibana-ingest-manager-fleet-agents.png
  docs/en/ingest-management/images/kibana-ingest-manager-fleet-enable.png
  docs/en/ingest-management/images/kibana-ingest-manager-fleet-enrol.png
  docs/en/ingest-management/images/kibana-ingest-manager-integrations-list-installed.png
  docs/en/ingest-management/images/kibana-ingest-manager-integrations-nginx-add-datasource.png
  docs/en/ingest-management/images/kibana-ingest-manager-integrations-nginx-overview.png
  docs/en/ingest-management/images/kibana-ingest-manager-integrations-nginx.png
  docs/en/ingest-management/images/kibana-ingest-manager-start.png
  docs/en/ingest-management/index.asciidoc
  docs/en/ingest-management/ingest-management-limitations.asciidoc
  docs/en/ingest-management/ingest-management-overview.asciidoc
  docs/en/ingest-management/tab-widgets/code.asciidoc
  docs/en/ingest-management/tab-widgets/enroll-widget.asciidoc
  docs/en/ingest-management/tab-widgets/prereq-widget.asciidoc
  docs/en/ingest-management/tab-widgets/prereq.asciidoc
  docs/en/ingest-management/troubleshooting.asciidoc
Labels: 7.10.0, backport, docs

#92 [7.9] [docs] Update ingest management docs with 7.9 UI changes (#80)
  docs/en/ingest-management/getting-started.asciidoc
  docs/en/ingest-management/images/add-integration.png
  docs/en/ingest-management/images/data-source.png
  docs/en/ingest-management/images/data-streams.png
  docs/en/ingest-management/images/datasets.png
  docs/en/ingest-management/images/integrations.png
  docs/en/ingest-management/images/kibana-ingest-manager-configurations-default-with-nginx.png
  docs/en/ingest-management/images/kibana-ingest-manager-configurations-default-yaml.png
  docs/en/ingest-management/images/kibana-ingest-manager-datastreams.png
  docs/en/ingest-management/images/kibana-ingest-manager-fleet-agents.png
  docs/en/ingest-management/images/kibana-ingest-manager-fleet-enable.png
  docs/en/ingest-management/images/kibana-ingest-manager-fleet-enrol.png
  docs/en/ingest-management/images/kibana-ingest-manager-integrations-list-installed.png
  docs/en/ingest-management/images/kibana-ingest-manager-integrations-nginx-add-datasource.png
  docs/en/ingest-management/images/kibana-ingest-manager-integrations-nginx-overview.png
  docs/en/ingest-management/images/kibana-ingest-manager-integrations-nginx.png
  docs/en/ingest-management/images/kibana-ingest-manager-start.png
  docs/en/ingest-management/index.asciidoc
  docs/en/ingest-management/ingest-management-limitations.asciidoc
  docs/en/ingest-management/ingest-management-overview.asciidoc
  docs/en/ingest-management/tab-widgets/code.asciidoc
  docs/en/ingest-management/tab-widgets/enroll-widget.asciidoc
  docs/en/ingest-management/tab-widgets/prereq-widget.asciidoc
  docs/en/ingest-management/tab-widgets/prereq.asciidoc
  docs/en/ingest-management/troubleshooting.asciidoc
Labels: 7.9.0, backport, docs

#68 [docs] Add troubleshooting topic about running under SYSTEM for Endpoint
  docs/en/ingest-management/troubleshooting.asciidoc
Labels: 7.10.0, 7.9.0, 8.0.0, docs, needs_backport

#94 [7.9] [docs] Add troubleshooting topic about running under SYSTEM for Endpoint (#68)
  docs/en/ingest-management/troubleshooting.asciidoc
Labels: 7.9.0, backport, docs

#93 [7.x] [docs] Add troubleshooting topic about running under SYSTEM for Endpoint (#68)
  docs/en/ingest-management/troubleshooting.asciidoc
Labels: 7.10.0, backport, docs

#88 Update ingest-management-limitations.asciidoc
  docs/en/ingest-management/ingest-management-limitations.asciidoc
Labels: 7.10.0, 7.9.0

#96 [7.x] Update ingest-management-limitations.asciidoc (#88)
  docs/en/ingest-management/ingest-management-limitations.asciidoc
Labels: 7.10.0, backport, docs

#97 [7.9] Update ingest-management-limitations.asciidoc (#88)
  docs/en/ingest-management/ingest-management-limitations.asciidoc
Labels: 7.9.0, backport, docs

#98 document limits on Cloud for 7.9
  docs/en/ingest-management/ingest-management-limitations.asciidoc
Labels: 7.9.0, docs, needs_backport

#99 [7.x] document limits on Cloud for 7.9 (#98)
  docs/en/ingest-management/ingest-management-limitations.asciidoc
Labels: backport

#100 [7.9] document limits on Cloud for 7.9 (#98)
  docs/en/ingest-management/ingest-management-limitations.asciidoc
Labels: backport

#101 Update description of Endpoint integration in troubleshooting
  docs/en/ingest-management/troubleshooting.asciidoc
Labels: 7.10.0, 7.9.0, 8.0.0, docs, needs_backport

#102 [7.x] Update description of Endpoint integration in troubleshooting (#101)
  docs/en/ingest-management/troubleshooting.asciidoc
Labels: 7.10.0, backport, docs

#103 [7.9] Update description of Endpoint integration in troubleshooting (#101)
  docs/en/ingest-management/troubleshooting.asciidoc
Labels: 7.9.0, backport, docs

#106 [Docs]Ingest Manager quick start guide typo
  docs/en/ingest-management/getting-started.asciidoc
Labels: 7.9.0

#107 [7.x] [Docs]Ingest Manager quick start guide type (#106)
  docs/en/ingest-management/getting-started.asciidoc
Labels: 7.10.0, backport, docs

#108 [7.9] [Docs]Ingest Manager quick start guide type (#106)
  docs/en/ingest-management/getting-started.asciidoc
Labels: 7.9.0, backport, docs

#105 [docs] Add steps for making agent persistent on macos
  docs/en/ingest-management/troubleshooting.asciidoc
Labels: 7.9.0, docs

#109 [7.x] [docs] Add steps for making agent persistent on macos (#105)
  docs/en/ingest-management/troubleshooting.asciidoc
Labels: 7.10.0, backport

#110 [7.9] [docs] Add steps for making agent persistent on macos (#105)
  docs/en/ingest-management/troubleshooting.asciidoc
Labels: 7.9.0, backport

#114 [7.x] Remove prerelease banner (#113)
  docs/en/observability/page_header.html
Labels: backport

#115 [7.9] Remove prerelease banner (#113)
  docs/en/observability/page_header.html
Labels: backport

#112 Remove repetitive wording
  docs/en/ingest-management/getting-started.asciidoc
  docs/en/ingest-management/ingest-management-overview.asciidoc
Labels: 7.9.0, docs, needs_backport

#117 [7.9] Remove repetitive wording (#112)
  docs/en/ingest-management/getting-started.asciidoc
  docs/en/ingest-management/ingest-management-overview.asciidoc
Labels: 7.9.0, backport

#116 [7.x] Remove repetitive wording (#112)
  docs/en/ingest-management/getting-started.asciidoc
  docs/en/ingest-management/ingest-management-overview.asciidoc
Labels: 7.10.0, backport

#120 Make troubleshooting and FAQ separate topics
  docs/en/ingest-management/faq.asciidoc
  docs/en/ingest-management/index.asciidoc
  docs/en/ingest-management/troubleshooting.asciidoc
Labels: 7.10.0, 7.9.0, 8.0.0, docs, needs_backport
