Repository elastic/observability-docs, pull requests merged in 2020-07, with the labels that each got.

#14 Add coming tags for incomplete topics
  docs/en/observability/observability-introduction.asciidoc
  docs/en/observability/observability-ui.asciidoc
Labels: 7.9.0, documentation

#15 Change links to refactored Beats getting started docs
  docs/en/ingest-management/troubleshooting.asciidoc
  docs/en/logs/logs-installation.asciidoc
  docs/en/metrics/metrics-installation.asciidoc
Labels: documentation, v7.9.0, v8.0.0

#17 [7.x] Change links to refactored Beats getting started docs (#15)
  docs/en/ingest-management/troubleshooting.asciidoc
  docs/en/logs/logs-installation.asciidoc
  docs/en/metrics/metrics-installation.asciidoc
Labels: 7.9.0, backport, documentation

#19 CI
  .ci/Jenkinsfile
  .ci/jobs/defaults.yml
  .ci/jobs/observability-docs-mbp.yml
  .ci/jobs/observability-docs.yml
Labels: enhancement

#20 [Metrics UI] Add docs for alerting context variables
  docs/en/metrics/images/metrics-alert-message.png
  docs/en/metrics/metrics-alerting.asciidoc
Labels: 7.9.0, docs

#21 Add 7.x uptime guide from Kibana docs
  docs/en/uptime/alerting.asciidoc
  docs/en/uptime/app-overview.asciidoc
  docs/en/uptime/certificates.asciidoc
  docs/en/uptime/deployment-arch.asciidoc
  docs/en/uptime/images/cert-exp.png
  docs/en/uptime/images/certificates-page.png
  docs/en/uptime/images/check-history.png
  docs/en/uptime/images/create-alert.png
  docs/en/uptime/images/crosshair-example.png
  docs/en/uptime/images/filter-bar.png
  docs/en/uptime/images/indices.png
  docs/en/uptime/images/monitor-charts.png
  docs/en/uptime/images/monitor-list.png
  docs/en/uptime/images/monitor-status-alert.png
  docs/en/uptime/images/observability_integrations.png
  docs/en/uptime/images/settings.png
  docs/en/uptime/images/snapshot-view.png
  docs/en/uptime/images/status-bar.png
  docs/en/uptime/images/tls-alert.png
  docs/en/uptime/images/uptime-multi-deployment.png
  docs/en/uptime/images/uptime-overview.png
  docs/en/uptime/images/uptime-setup.png
  docs/en/uptime/images/uptime-simple-deployment.png
  docs/en/uptime/index.asciidoc
  docs/en/uptime/install.asciidoc
  docs/en/uptime/monitor.asciidoc
  docs/en/uptime/overview.asciidoc
  docs/en/uptime/settings.asciidoc
Labels: docs

#23 Add 7.2 uptime guide from Kibana docs
  docs/en/uptime/images/uptime-setup.png
  docs/en/uptime/index.asciidoc
  docs/en/uptime/install.asciidoc
  docs/en/uptime/overview.asciidoc
  docs/en/uptime/security.asciidoc
  docs/en/uptime/versions.asciidoc
Labels: docs

#24 Add 7.3 uptime guide from Kibana docs
  docs/en/uptime/images/uptime-multi-deployment.png
  docs/en/uptime/images/uptime-setup.png
  docs/en/uptime/images/uptime-simple-deployment.png
  docs/en/uptime/index.asciidoc
  docs/en/uptime/install.asciidoc
  docs/en/uptime/overview.asciidoc
  docs/en/uptime/security.asciidoc
Labels: docs

#25 Add 7.4 uptime guide from Kibana docs
  docs/en/uptime/deployment-arch.asciidoc
  docs/en/uptime/images/uptime-multi-deployment.png
  docs/en/uptime/images/uptime-setup.png
  docs/en/uptime/images/uptime-simple-deployment.png
  docs/en/uptime/index.asciidoc
  docs/en/uptime/install.asciidoc
  docs/en/uptime/overview.asciidoc
  docs/en/uptime/security.asciidoc
Labels: docs

#26 Add 7.5 uptime guide from Kibana docs
  docs/en/uptime/deployment-arch.asciidoc
  docs/en/uptime/images/uptime-multi-deployment.png
  docs/en/uptime/images/uptime-setup.png
  docs/en/uptime/images/uptime-simple-deployment.png
  docs/en/uptime/index.asciidoc
  docs/en/uptime/install.asciidoc
  docs/en/uptime/overview.asciidoc
  docs/en/uptime/security.asciidoc
Labels: docs

#27 Add 7.6 uptime guide from Kibana docs
  docs/en/uptime/deployment-arch.asciidoc
  docs/en/uptime/images/uptime-multi-deployment.png
  docs/en/uptime/images/uptime-setup.png
  docs/en/uptime/images/uptime-simple-deployment.png
  docs/en/uptime/index.asciidoc
  docs/en/uptime/install.asciidoc
  docs/en/uptime/overview.asciidoc
  docs/en/uptime/security.asciidoc
Labels: docs

#28 Add 7.7 uptime guide from Kibana docs
  docs/en/uptime/deployment-arch.asciidoc
  docs/en/uptime/images/uptime-multi-deployment.png
  docs/en/uptime/images/uptime-setup.png
  docs/en/uptime/images/uptime-simple-deployment.png
  docs/en/uptime/index.asciidoc
  docs/en/uptime/install.asciidoc
  docs/en/uptime/overview.asciidoc
Labels: docs

#30 Add 7.8 uptime guide from Kibana docs
  docs/en/uptime/alerting.asciidoc
  docs/en/uptime/app-overview.asciidoc
  docs/en/uptime/certificates.asciidoc
  docs/en/uptime/deployment-arch.asciidoc
  docs/en/uptime/images/cert-exp.png
  docs/en/uptime/images/certificates-page.png
  docs/en/uptime/images/check-history.png
  docs/en/uptime/images/create-alert.png
  docs/en/uptime/images/crosshair-example.png
  docs/en/uptime/images/filter-bar.png
  docs/en/uptime/images/indices.png
  docs/en/uptime/images/monitor-charts.png
  docs/en/uptime/images/monitor-list.png
  docs/en/uptime/images/monitor-status-alert.png
  docs/en/uptime/images/observability_integrations.png
  docs/en/uptime/images/settings.png
  docs/en/uptime/images/snapshot-view.png
  docs/en/uptime/images/status-bar.png
  docs/en/uptime/images/tls-alert.png
  docs/en/uptime/images/uptime-multi-deployment.png
  docs/en/uptime/images/uptime-overview.png
  docs/en/uptime/images/uptime-setup.png
  docs/en/uptime/images/uptime-simple-deployment.png
  docs/en/uptime/index.asciidoc
  docs/en/uptime/install.asciidoc
  docs/en/uptime/monitor.asciidoc
  docs/en/uptime/overview.asciidoc
  docs/en/uptime/settings.asciidoc
Labels: docs

#31 Add uptime guide from kibana docs
  docs/en/uptime/alerting.asciidoc
  docs/en/uptime/app-overview.asciidoc
  docs/en/uptime/certificates.asciidoc
  docs/en/uptime/deployment-arch.asciidoc
  docs/en/uptime/images/cert-exp.png
  docs/en/uptime/images/certificates-page.png
  docs/en/uptime/images/check-history.png
  docs/en/uptime/images/create-alert.png
  docs/en/uptime/images/crosshair-example.png
  docs/en/uptime/images/filter-bar.png
  docs/en/uptime/images/indices.png
  docs/en/uptime/images/monitor-charts.png
  docs/en/uptime/images/monitor-list.png
  docs/en/uptime/images/monitor-status-alert.png
  docs/en/uptime/images/observability_integrations.png
  docs/en/uptime/images/settings.png
  docs/en/uptime/images/snapshot-view.png
  docs/en/uptime/images/status-bar.png
  docs/en/uptime/images/tls-alert.png
  docs/en/uptime/images/uptime-multi-deployment.png
  docs/en/uptime/images/uptime-overview.png
  docs/en/uptime/images/uptime-setup.png
  docs/en/uptime/images/uptime-simple-deployment.png
  docs/en/uptime/index.asciidoc
  docs/en/uptime/install.asciidoc
  docs/en/uptime/monitor.asciidoc
  docs/en/uptime/overview.asciidoc
  docs/en/uptime/settings.asciidoc
Labels: docs

#29 Remove standalone suffix from the documentation.
  docs/en/ingest-management/getting-started.asciidoc
Labels: 7.9.0, docs

#32 docs: update preview comment
  .ci/Jenkinsfile
Labels: enhancement

#33 [7.x] Remove standalone suffix from the documentation. (#29)
  docs/en/ingest-management/getting-started.asciidoc
Labels: backport

#37 Fix errors in ingest management examples
  docs/en/ingest-management/getting-started.asciidoc
  docs/en/ingest-management/troubleshooting.asciidoc
Labels: 7.9.0, docs

#39 [7.8] Fix errors in examples (#37)
  docs/en/ingest-management/getting-started.asciidoc
  docs/en/ingest-management/troubleshooting.asciidoc
Labels: backport

#38 [7.x] Fix errors in examples (#37)
  docs/en/ingest-management/getting-started.asciidoc
  docs/en/ingest-management/troubleshooting.asciidoc
Labels: backport

#41 Update link to Heartbeat quick start
  docs/en/uptime/install.asciidoc
Labels: 7.9.0

#44 [7.x] Update link to Heartbeat quick start (#41)
  docs/en/uptime/install.asciidoc
Labels: 7.10.0, backport, docs

#45 [7.9] Update link to Heartbeat quick start (#41)
  docs/en/uptime/install.asciidoc
Labels: 7.9.0, backport, docs

#46 Clean up heading tags in ingest management docs
  docs/en/ingest-management/getting-started.asciidoc
  docs/en/ingest-management/ingest-management-overview.asciidoc
  docs/en/ingest-management/troubleshooting.asciidoc
Labels: 7.10.0, 7.9.0, 8.0.0, docs, needs_backport

#50 [7.x] Clean up heading tags in ingest management docs (#46)
  docs/en/ingest-management/getting-started.asciidoc
  docs/en/ingest-management/ingest-management-overview.asciidoc
  docs/en/ingest-management/troubleshooting.asciidoc
Labels: 7.10.0, backport, docs

#51 [7.9] Clean up heading tags in ingest management docs (#46)
  docs/en/ingest-management/getting-started.asciidoc
  docs/en/ingest-management/ingest-management-overview.asciidoc
  docs/en/ingest-management/troubleshooting.asciidoc
Labels: 7.9.0, backport, docs

#52 [7.8] Clean up heading tags in ingest management docs (#46)
  docs/en/ingest-management/getting-started.asciidoc
  docs/en/ingest-management/ingest-management-overview.asciidoc
  docs/en/ingest-management/troubleshooting.asciidoc
Labels: 7.8.0, backport, docs

#55 Update Uptime docs for 7.9
  docs/en/uptime/alerting.asciidoc
  docs/en/uptime/images/monitor-status-alert.png
  docs/en/uptime/images/status-bar-map.png
  docs/en/uptime/monitor.asciidoc
Labels: 7.9.0, docs, enhancement

#60 [7.9] Update Uptime docs for 7.9 (#55)
  docs/en/uptime/alerting.asciidoc
  docs/en/uptime/images/monitor-status-alert.png
  docs/en/uptime/images/status-bar-map.png
  docs/en/uptime/monitor.asciidoc
Labels: backport

#59 [7.x] Update Uptime docs for 7.9 (#55)
  docs/en/uptime/alerting.asciidoc
  docs/en/uptime/images/monitor-status-alert.png
  docs/en/uptime/images/status-bar-map.png
  docs/en/uptime/monitor.asciidoc
Labels: backport

#49 Move content about how to stop Elastic Agent
  docs/en/ingest-management/troubleshooting.asciidoc
Labels: 7.10.0, 7.9.0, 8.0.0, docs, needs_backport

#62 [7.x] Move content about how to stop Elastic Agent (#49)
  docs/en/ingest-management/troubleshooting.asciidoc
Labels: 7.10.0, backport

#64 [7.8] Move content about how to stop Elastic Agent (#49)
  docs/en/ingest-management/troubleshooting.asciidoc
Labels: 7.8.0, backport

#63 [7.9] Move content about how to stop Elastic Agent (#49)
  docs/en/ingest-management/troubleshooting.asciidoc
Labels: 7.9.0, backport

#65 [docs] Add info about SYSTEM user requirement to the ingest Getting Started
  docs/en/ingest-management/getting-started.asciidoc
Labels: 7.10.0, 7.8.0, 7.9.0, 8.0.0, docs, needs_backport

#66 [7.x] [docs] Add info about SYSTEM user requirement to the ingest Getting Started (#65)
  docs/en/ingest-management/getting-started.asciidoc
Labels: 7.10.0, backport, docs

#67 [7.9] [docs] Add info about SYSTEM user requirement to the ingest Getting Started (#65)
  docs/en/ingest-management/getting-started.asciidoc
Labels: 7.9.0, backport, docs

#58 Metrics monitoring guide: update getting started content
  docs/en/metrics/metrics-installation.asciidoc
Labels: 7.9.0

#73 [7.x] Metrics monitoring guide: update getting started content (#58)
  docs/en/metrics/metrics-installation.asciidoc
Labels: backport

#74 [7.9] Metrics monitoring guide: update getting started content (#58)
  docs/en/metrics/metrics-installation.asciidoc
Labels: backport

#72 [docs] Use discrete tags instead of float
  tutorial-template.asciidoc
Labels: docs
