Repository elastic/observability-docs, pull requests merged in 2022-06, with the labels that each got.

#1909 Update agent status screenshot
  docs/en/ingest-management/images/agent-status.png
Labels: Team:Docs, backport-8.3, backport-8.2, v8.2.2

#1911 Fix synchronization in widget tabs
  docs/en/ingest-management/tab-widgets/add-fleet-server/widget.asciidoc
  docs/en/observability/tab-widgets/add-apm-integration/widget.asciidoc
Labels: Team:Docs, backport-8.3, backport-8.2, v8.2.2

#1910 Remove old screen shot from self-managed section of Fleet Server setup
  docs/en/ingest-management/fleet/images/agents-tab-fleet-server.png
  docs/en/ingest-management/tab-widgets/add-fleet-server/content.asciidoc
  docs/en/observability/images/agents-tab-fleet-server.png
Labels: backport-8.3, backport-8.2, v8.2.2

#1921 [DOCS] Update screenshot for improved reporter column in cases table
  docs/en/observability/images/cases.png
Labels: docs, v8.3.0, backport-8.3, v8.4.0

#1928 Add Fleet and Elastic Agent 8.2.3 release notes
  docs/en/ingest-management/release-notes/release-notes-8.2.asciidoc
Labels: Team:Docs, Team:Fleet, Team:Elastic-Agent-Control-Plane, backport-8.2, v8.2.3

#1945 [Uptime] add alert recovery documentation
  docs/en/observability/images/duration-anomaly-alert-recovery.png
  docs/en/observability/images/monitor-status-alert-recovery.png
  docs/en/observability/images/tls-certificate-alert-recovery.png
  docs/en/observability/monitor-status-alert.asciidoc
  docs/en/observability/uptime-duration-anomaly-alert.asciidoc
  docs/en/observability/uptime-tls-alert.asciidoc
Labels: backport, Team:Uptime, v8.3.0, backport-8.3

#1948 [DOCS] Remove refs to Stack GS
  docs/en/ingest-management/tab-widgets/prereq.asciidoc
Labels: docs, v8.3.0, backport-8.3, v8.4.0

#1925 [synthetics] Document new `init` and `push` commands
  docs/en/observability/images/synthetic-monitor-lifecycle.png
  docs/en/observability/index.asciidoc
  docs/en/observability/monitor-uptime-synthetics.asciidoc
  docs/en/observability/synthetics-command-reference.asciidoc
  docs/en/observability/synthetics-configuration.asciidoc
  docs/en/observability/synthetics-create-test.asciidoc
  docs/en/observability/synthetics-journeys.asciidoc
  docs/en/observability/synthetics-manage-monitors.asciidoc
  docs/en/observability/synthetics-params-secrets.asciidoc
  docs/en/observability/synthetics-run-test.asciidoc
  docs/en/observability/tab-widgets/uptime-monitoring/manage-monitors-delete-monitor-content.asciidoc
  docs/en/observability/tab-widgets/uptime-monitoring/manage-monitors-delete-monitor-widget.asciidoc
  docs/en/observability/tab-widgets/uptime-monitoring/manage-monitors-update-monitor-content.asciidoc
  docs/en/observability/tab-widgets/uptime-monitoring/manage-monitors-update-monitor-widget.asciidoc
  docs/en/observability/tab-widgets/uptime-monitoring/manage-monitors-update-test-content.asciidoc
  docs/en/observability/tab-widgets/uptime-monitoring/manage-monitors-update-test-widget.asciidoc
  docs/en/observability/tab-widgets/uptime-monitoring/run-test-configure-content.asciidoc
  docs/en/observability/tab-widgets/uptime-monitoring/run-test-configure-widget.asciidoc
  docs/en/observability/tab-widgets/uptime-monitoring/run-test-suite-content.asciidoc
  docs/en/observability/tab-widgets/uptime-monitoring/run-test-suite-widget.asciidoc
Labels: v8.3.0, backport-8.3

#1954 [DOCS] Update ES & Kibana install links
  docs/en/shared/spin-up-the-stack/content.asciidoc
Labels: docs, Team:Docs, v8.3.0, backport-8.3, v8.4.0

#1932 Add Fleet and Elastic Agent 8.3.0 release notes
  docs/en/ingest-management/index.asciidoc
  docs/en/ingest-management/release-notes/release-notes-7.13.asciidoc
  docs/en/ingest-management/release-notes/release-notes-7.14.asciidoc
  docs/en/ingest-management/release-notes/release-notes-7.15.asciidoc
  docs/en/ingest-management/release-notes/release-notes-7.16.asciidoc
  docs/en/ingest-management/release-notes/release-notes-7.17.asciidoc
  docs/en/ingest-management/release-notes/release-notes-8.0.asciidoc
  docs/en/ingest-management/release-notes/release-notes-8.1.asciidoc
  docs/en/ingest-management/release-notes/release-notes-8.2.asciidoc
  docs/en/ingest-management/release-notes/release-notes-8.3.asciidoc
  docs/en/ingest-management/troubleshooting/faq.asciidoc
Labels: Team:Fleet, Team:Elastic-Agent-Control-Plane, v8.3.0, backport-8.3

#1938 Update upgrade docs to discuss rolling and scheduled upgrades
  docs/en/ingest-management/fleet/upgrade-elastic-agent.asciidoc
  docs/en/ingest-management/images/rolling-agent-upgrade.png
  docs/en/ingest-management/images/schedule-upgrade.png
  docs/en/ingest-management/images/upgrade-agents.png
  docs/en/ingest-management/images/upgrade-failure.png
  docs/en/ingest-management/images/upgrade-single-agent.png
  docs/en/ingest-management/images/upgrade-status.png
Labels: Team:Fleet, Team:Elastic-Agent-Control-Plane, v8.3.0, backport-8.3

#1934 Update docs for changes in add fleet server steps
  docs/en/ingest-management/elastic-agent/install-fleet-managed-elastic-agent.asciidoc
  docs/en/ingest-management/fleet/fleet-server-monitoring.asciidoc
  docs/en/ingest-management/fleet/fleet-server-scaling.asciidoc
  docs/en/ingest-management/fleet/images/add-fleet-server.png
  docs/en/ingest-management/fleet/images/dashboard-datastream.png
  docs/en/ingest-management/fleet/images/dashboard-with-namespace-showing.png
  docs/en/ingest-management/fleet/images/datastream-namespace.png
  docs/en/ingest-management/fleet/images/fleet-server-agent-policy-page.png
  docs/en/ingest-management/fleet/images/fleet-server-configuration.png
  docs/en/ingest-management/tab-widgets/add-fleet-server/content.asciidoc
Labels: Team:Fleet, v8.3.0, backport-8.3

#1962 Add Fleet and Elastic Agent 8.3.1 release notes
  docs/en/ingest-management/release-notes/release-notes-8.3.asciidoc
Labels: backport-8.3, v8.3.1

#1965 update Beats capability for DStreams (#1964)
  docs/en/ingest-management/beats-agent-comparison.asciidoc
Labels: backport, backport-8.1, backport-8.2, backport-8.0

#1973 Remove old reviewer notes
  docs/en/ingest-management/fleet/upgrade-elastic-agent.asciidoc
  docs/en/observability/monitor-k8s/monitor-k8s-metrics.asciidoc
Labels: Team:Docs, v8.3.0, backport-8.3
