Repository elastic/observability-docs, pull requests merged in 2022-12, with the labels that each got.

#2424 Update deploy-elastic-agent.asciidoc
  docs/en/ingest-management/elastic-agent/run-container-common/deploy-elastic-agent.asciidoc
Labels: docs, backport-8.6

#2440 Provide context for procedures under Fleet Settings
  docs/en/ingest-management/fleet/fleet-settings.asciidoc
Labels: backport-8.5, backport-8.6

#2353 [synthetics] Add projects workflow docs
  docs/en/observability/images/synthetics-get-started-heartbeat.png
  docs/en/observability/images/synthetics-get-started-projects.png
  docs/en/observability/images/synthetics-get-started-ui.png
  docs/en/observability/images/uptime-set-up-app.png
  docs/en/observability/images/uptime-set-up-heartbeat.png
  docs/en/observability/images/uptime-set-up-project-monitors.png
  docs/en/observability/index.asciidoc
  docs/en/observability/monitor-uptime-synthetics.asciidoc
  docs/en/observability/redirects.asciidoc
  docs/en/observability/synthetics-command-reference.asciidoc
  docs/en/observability/synthetics-configuration.asciidoc
  docs/en/observability/synthetics-create-test.asciidoc
  docs/en/observability/synthetics-get-started-heartbeat.asciidoc
  docs/en/observability/synthetics-get-started-project.asciidoc
  docs/en/observability/synthetics-get-started-ui.asciidoc
  docs/en/observability/synthetics-get-started.asciidoc
  docs/en/observability/synthetics-journeys.asciidoc
  docs/en/observability/synthetics-lightweight.asciidoc
  docs/en/observability/synthetics-manage-monitors.asciidoc
  docs/en/observability/synthetics-manage-retention.asciidoc
  docs/en/observability/synthetics-monitor-use.asciidoc
  docs/en/observability/synthetics-params-secrets.asciidoc
  docs/en/observability/synthetics-private-location.asciidoc
  docs/en/observability/synthetics-recorder.asciidoc
  docs/en/observability/synthetics-run-test.asciidoc
  docs/en/observability/synthetics-visualize.asciidoc
  docs/en/observability/tab-widgets/uptime-monitoring/manage-monitors-delete-monitor-content.asciidoc
  docs/en/observability/tab-widgets/uptime-monitoring/manage-monitors-delete-monitor-widget.asciidoc
  docs/en/observability/tab-widgets/uptime-monitoring/manage-monitors-update-monitor-content.asciidoc
  docs/en/observability/tab-widgets/uptime-monitoring/manage-monitors-update-monitor-widget.asciidoc
  docs/en/observability/tab-widgets/uptime-monitoring/manage-monitors-update-test-content.asciidoc
  docs/en/observability/tab-widgets/uptime-monitoring/manage-monitors-update-test-widget.asciidoc
  docs/en/observability/uptime-analyze.asciidoc
  docs/en/observability/uptime-set-up-app.asciidoc
  docs/en/observability/uptime-set-up-choose-project-monitors.asciidoc
  docs/en/observability/uptime-set-up.asciidoc
Labels: enhancement, Team:Uptime, backport-8.5, backport-8.6

#2446 Add Fleet/Agent 8.5.3 release notes
  docs/en/ingest-management/release-notes/release-notes-8.5.asciidoc
Labels: Team:Docs, v8.5.3

#2448 Add Fleet/Agent 7.17.8 release notes
  docs/en/ingest-management/release-notes/release-notes-7.17.asciidoc
Labels: Team:Docs, v7.17.8

#2452 Application logging docs
  docs/en/observability/application-logs.asciidoc
  docs/en/observability/index.asciidoc
  docs/en/observability/tab-widgets/filebeat-logs/content.asciidoc
  docs/en/observability/tab-widgets/filebeat-logs/widget.asciidoc
Labels: backport-skip
